.env
.env.local
.env.*.local

# Python
__pycache__/
*.pyc

# Docker
*.log

# MySQL / volumes
mysqldata/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data
artifacts/*
outputs/*
exports/*
data/*
shared/*

# Node
services/frontend/node_modules/
services/frontend/dist/